{% extends 'base.html' %}

{% block content %}
  {% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endfor %}

  <h1>Topic List:</h1>
  <br />
  <div class="shadow-lg p-3 mb-5 bg-body rounded">
    <form method="POST">
      {{ form.hidden_tag() }}

      {{ form.topic.label(class='form-label') }}
      {{ form.topic(class='form-control') }}

      <br />
      {{ form.submit(class='btn btn-primary') }}
    </form>
  </div>
  <br />

  <table class="table table-striped">
    <tr>
      <td>ID</td>
      <td>Topic</td>
    </tr>
    {% for mqtt_conf in mqtt_conf %}
      <tr>
        <td>{{ mqtt_conf.id }}</td>
        <td>{{ mqtt_conf.topic }}</td>
      </tr>
    {% endfor %}
  </table>
  <br />
  <CENTER>
  <img src="{{ url_for('static', filename='images/cat.png') }}" />
  </CENTER>
{% endblock %}
